@import '~styles/index';

.roundLabel {
    color: white;
    font-size: 12px;
    white-space: nowrap;
}

.bpmLabel {
    padding: 2px;
    border-radius: 4px;
    background: $color-secondary;
}
.layersControlsContainer {
    margin-left: '-20px';
    display: flex;
    flex-direction: column-reverse;
}
.layersControlsContainer > div { 
    transform: none !important;
    position: relative !important;
}

.layersControlsContainer > div > div { 
    display: flex;
    // flex-direction: column;
    transform: none !important;
    position: relative !important;
}