$color-grey-000: #FAFAFA;
$color-grey-010: #EEE;
$color-grey-020: #D8D8D8;
$color-grey-050: #979797;
$color-grey-070: #616161;
$color-grey-080: #212121;
$color-grey-100: #000;

$color-primary: #282c34;
$color-secondary: #abb2bf;


$color-dead: #434343;
$color-inactive: #999999;
$color-active: #0000FF;
$color-attention: #FFFF00;
$color-hot: #FF0000;
$color-selected: #00FF00;