@import '~styles/index';

.selectCobntainer {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
  // padding: 20px;
  // border: 1px solid #888;
  width: 400px;
  border-radius: 4px;
}

.select {
  width: 100px;
}
