@import '~styles/index';

.footer {
    display: flex;
    flex-direction: column;
    color: $color-grey-070;
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

.addRoundBtn {
    margin: 8px 8px 8px 8px;
    font-size: 20px;
    color: $color-grey-070;
    border: 1px solid $color-grey-070;
    transition: 0.3s;
    white-space: nowrap;
}
  
.addRoundBtn:hover {
    color: $color-grey-080;
}

.userInfo {
    display: flex;
    align-items: baseline;
    justify-content: center;

    button {
        font-size: 14px;
    }
}