.videoWindow{
    z-index: 4;
    position: absolute;
    top:0px;
    transition: left 0.4s;
}
.videoWindowOpen{
    //left:calc(50vw - 300px);
    left:120px;
}
.videoWindowClosed{
    left:-650px !important;
}