@import '~styles/index';

.noteLabel {
  cursor: pointer;     /* change the cursor to a hand when over us */
  user-select: none;   /* don't let the text get selected */
  text-shadow:         /* create a black outline */
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.noteLabel:hover {
  color: #cc76f7;
}

.labelDisabled {
  pointer-events: none;
}

.beatParameters {
  pointer-events: none;
  color: white;
  background: $color-secondary;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  padding: 0 10px;
  margin-left: 40px;
  text-shadow:         /* create a black outline */
  -1px -1px 0 #000,
   0   -1px 0 #000,
   1px -1px 0 #000,
   1px  0   0 #000,
   1px  1px 0 #000,
   0    1px 0 #000,
  -1px  1px 0 #000,
  -1px  0   0 #000;
}

.beatParameters::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: calc(100% + 6px);
  transform: translate3d(-10px, 0, 0);
  height: 1px;
  background: $color-secondary;
}

.cannotEdit {
  cursor: not-allowed;
}

.cannotEdit:hover {
  color: white;
}