@import '~styles/index';

.numberOfBeats {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    text-shadow:         
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.cannotEdit {
  cursor: not-allowed;
}