html{
    height:100%;
}
body{
    height:100%;
    background-color:#1B1B1B !important;
}
#root{
    height:100%;
}
.App{
    height:100%;
}

.tempo-slider {
    width: 210px !important;
}

.PrivateValueLabel-thumb-99.PrivateValueLabel-open-100 .PrivateValueLabel-offset-101 {
    transform: scale(0.7) translateY(-4px) !important;
    display: none;
}

.MuiBox-root.MuiBox-root-260.LayerCustomSounds-buttonContainer-254 section {
    margin: auto;
}

@media only screen and (max-width: 991px) {
    .tempo-slider {
        width: 140px !important;
    }
}