html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #1B1B1B !important;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.tempo-slider {
    width: 210px !important;
}

.PrivateValueLabel-thumb-99.PrivateValueLabel-open-100 .PrivateValueLabel-offset-101 {
    transform: scale(0.7) translateY(-4px) !important;
    display: none;
}

.rename-dialog-action {
    padding: 24px 24px !important;
    justify-content: space-between !important;
    background-color: #333333 !important;
}

button.rename-cancel {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px;
    width: 158px;
}

button.rename-ok {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px;
    width: 158px;
    background-color: #474747;
    color: #ffffff;
}

button.rename-cancel:hover, button.rename-ok:hover {
    background-color: #5c5c5c;
}
.rename-dialog .MuiDialog-paperWidthSm {
    width: 360px;
}

.rename-dialog .rename-dialog-title {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #333333 !important;
}

.rename-dialog .MuiDialogContent-root {
    padding-top: 20px;
    background-color: #333333 !important;
}

.rename-dialog .MuiDialogContent-root .rename-dialog-content {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rename-dialog-content .rename-dialog-input-field {
    width: 100%;
}

.rename-dialog-content .rename-dialog-input-field input {
    padding-bottom: 0;
}

.rename-dialog-content .MuiInput-underline:before, .rename-dialog-content .MuiInput-underline:after, .rename-dialog-content .MuiInput-underline:hover:not(.Mui-diabled):before {
    border-bottom-width: 0;
}

.rename-dialog .MuiFormControl-marginDense {
    margin-top: 0;
    margin-bottom: 0;
}

.rename-dialog-clear {
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .tempo-slider {
        width: 140px !important;
    }
}

@media only screen and (max-width: 400px) {
    .rename-dialog .MuiDialog-paperWidthSm {
        width: 300px;
    }
}