@import '~styles/index';

.controlsBar {
z-index: 20;
  padding: 8px;
  border-bottom: $color-grey-050;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
width:100px;

  button {
    margin: 4px;
  }
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}