@import '~styles/index';

.container {
  height: inherit;
}

.home {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 40px);
}


.mainContainer {
  height: 100%;
  position: relative;
}

.graphicsContext {
  width: 100%;
  height: 100%;
  outline: none;
  // border: 1px dashed white;
}

.toneButton {
  border: 1px solid $color-grey-080;
  color: $color-grey-080;
}