@import '~styles/index';

.dialog { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogText {
  padding-bottom: 10px;
}

.dialogSelect {
  margin: 10px;
  border-radius: 4px;
  height: 30px;
}

.colorSelect {
  -webkit-appearance: media-slider;
  appearance: media-slider;
}

.colorSelect::after {
  content: ''
}

.dialogControls {
  display: flex;
  justify-content: space-around;
  // padding: 20px;
  width: 160px;
}

.dialogButton {
  border: 1px solid $color-grey-080;
  color: $color-grey-080;
  width: 60px;
}

.dialogButtonSelected {
  background: $color-grey-080;
  color: white;
}