@import "~styles/index";
.effectsSidebar{
    width: 220px;
    height:100vw;
    background-color: #222222;
    position:absolute;
    right:0;
    top:0;
    color:white;
    padding-top:64px;
}
.effectsSidebarList{
    margin:0;
    padding:0;
}
.effectsSidebarListItem{
    list-style-type: none;
    padding:1rem;
    padding-left:0;
    background-color: #333333;
    color:white;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    display:flex;
    align-items: center;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.effectsSidebarListItemDragHandle{
    padding-left:1rem;
    padding-right:1rem;
    display:flex;
    cursor: move;
}