@import "~styles/index";
.effectsSidebar{
    width: 200px;
    height:calc(100% - 64px);
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    right:0;
    top:64px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.effectsSidebarList{
    margin:0;
    padding:0;
    width:100%;
}
.effectsSidebarListItem{
    list-style-type: none;
    padding:1rem;
    padding-left:0;
    background-color: rgba(25,25,25,0.8);
    color:white;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    display:flex;
    align-items: center;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.effectsSidebarListItemDragHandle{
    padding-left:1rem;
    padding-right:1rem;
    display:flex;
    cursor: move;
    color:#555555;
}